<h1>Sie haben sich <strong>nicht<strong> eingeloggt</h1>

<p>Bitte wählen Sie eine der folgenden Optionen aus:</p>

<p><%= link_to("Sign in", new_user_session_path) %></p>
<p><%= link_to("Sign up", new_user_registration_path) %></p>

